body{
    font-family: 'Libre Baskerville', serif;
    
}
.bottom-header{ /*big band image*/
   /* background-image: url("/assets/images/monkees.jpg");*/
  background: url(/assets/images/band-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:40vh; /*viewport height %*/
 
}
#big-logo{
    width:35%;
    height:35%;
      
     
    
}